<input id="iconito-shop-permanent-domain" type="hidden" value="{{ shop.permanent_domain }}">
<input id="iconito-page-type" type="hidden" value="{{ request.page_type }}">
<input id="iconito-product-id" type="hidden" value="{{ product.id }}">
<div id="load-font"></div>
{% assign collection_ids = product.collections | map: "id" | join: "," %}
<input id="iconito-collection-ids" type="hidden" value="{{ collection_ids }}">
{% assign tags = product.tags | join: ',' %}
<input id="iconito-product-tags" type="hidden" value="{{ tags }}">
{% schema %}
{
    "name": "Iconify Trust badges",
    "target": "body",
    "javascript": "iconito-front.js",
    "settings": [
        {
            "type": "paragraph",
            "content": "Adds trust badges and icons to your storefront. Click \"Manage app\" below to customize in the Iconify app."
        }
    ]
}
{% endschema %}
